@mixin std-tekstopmaak {
  font-style: italic;
}

$radius: 5px;
$filling-color: black;
$readme-color: black;
$achtergrond-pagina-grijs: #c3cfe2;
$achtergrond-tekst-wit: #fff;

$standard-padding: 15px;
